doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title E-Commerce App
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/main.js')

  body
    .dashboard-columns
      .left-column
        .dashboard-summary
          .summary-card
            .summary-title UGX 50,000,000
            .summary-subtitle Sales
          .summary-card
            .summary-title UGX 15,000,000
            .summary-subtitle Orders
          .summary-card.green-card
            .summary-title UGX 42,000,000
            .summary-subtitle In stock
          .summary-card.red-card
            .summary-title 5
            .summary-subtitle Out of stock
      .right-column
        h1 Add Product
        #successAlert.success-alert(style='display: none;')
          span Product has been added successfully!
          button.close-btn(type="button" onclick="document.getElementById('successAlert').style.display='none'") &times;
        form#productForm(action='/vendor' method='post' enctype='multipart/form-data')
          input#productName(type='text' name='productName' placeholder='Product Name')
          span.error-message Invalid field
          input#category(type='text' name='category' placeholder='Category')
          span.error-message Invalid field
          input#price(type='number' name='price' placeholder='Price')
          span.error-message Please enter a valid price.
          input#quantity(type='number' name='quantity' placeholder='Quantity')
          span.error-message Invalid field
          input#color(type='text' name='color' placeholder='Color')
          span.error-message Invalid field
          input#image(type='file' name='image' accept='image/*')
          span.error-message Invalid field
          .form-buttons
            button.save-btn(type='submit') SAVE
            button.clear-btn(type='reset') CLEAR
    div
      table
        thead
          tr
            th ID
            th NAME
            th CATEGORY
            th PRICE(UGX)
            th QUANTITY
        tbody
          if products
            each product in products
              tr
                td= product._id
                td= product.productName
                td= product.category
                td= product.price
                td= product.quantity
          else
            tr
              td(colspan="5") No products found.
    //- script(src='/js/vendorPage.js')