extends layout

block content
  .row.mb-3.h-100
    .col-md-6.pe-md-3.d-flex.flex-column
      .stats-row
        .stat-card
          .combined-stats
            .stat-value-container
              .large-stat UGX #{new Intl.NumberFormat().format(stats.sales)}
              p.text-muted.mb-0 Sales
            .stat-divider
            .stat-value-container
              .large-stat UGX #{new Intl.NumberFormat().format(stats.orders)}
              p.text-muted.mb-0 Orders

      .stats-row
        .stock-stats-container
          .pe-md-2
            .stat-card
              .large-stat.in-stock UGX #{new Intl.NumberFormat().format(stats.inStock)}
              p.text-muted.mb-0 In stock
          .ps-md-2
            .stat-card
              .out-of-stock-count #{stats.outOfStock}
              p.out-of-stock-label.mb-0 Out of stock

    .col-md-6.ps-md-3
      .add-product-form.h-100
        #alert-container
        h3.form-title Add Product
        form#product-form(action="/products" method="POST")
          .mb-2
            input.form-control.form-control-sm(type="text", id="product-name", name="name", placeholder="Product Name")
            span.error-message#product-name-error
          .mb-2
            input.form-control.form-control-sm(type="text", id="category", name="category", placeholder="Category")
            span.error-message#category-error
          .mb-2
            input.form-control.form-control-sm(type="text", id="price", name="price", placeholder="Price")
            span.error-message#price-error
          .mb-2
            input.form-control.form-control-sm(type="text", id="quantity", name="quantity", placeholder="Quantity")
            span.error-message#quantity-error
          .row.mb-2.gx-2
            .col-md-6
              input.form-control.form-control-sm(type="text", id="color", name="color", placeholder="Color")
              span.error-message#color-error
            .col-md-6
              input.form-control.form-control-sm(type="text", id="image-url", name="imageUrl", placeholder="Upload Image")
              span.error-message#image-url-error
          .d-flex.justify-content-center.gap-2
            button.btn.save-btn.py-1(type="submit", id="save-button") SAVE
            button.btn.clear-btn.py-1(type="button", id="clear-button") CLEAR

  .row.table-container
    .col-12
      .table-responsive
        table.table.table-striped.table-bordered.table-sm
          thead.table-header
            tr
              th ID
              th NAME
              th CATEGORY
              th PRICE(UGX)
              th QUANTITY
          tbody#product-table-body
            each product in products
              tr
                td= product.productId
                td= product.name
                td= product.category
                td= new Intl.NumberFormat().format(product.price)
                td= product.quantity